[Unit]
Description=Poe Bot Service
After=network.target

[Service]
Type=simple
User=root
Group=nogroup
WorkingDirectory=/root/poe-telegram-bot/
LimitNOFILE=32768
ExecStart=/usr/bin/python3 /root/poe-telegram-bot/main.py -c /root/poe-telegram-bot/config.json

[Install]
WantedBy=multi-user.target